.o-title {
    font-size: 20px;
    font-weight: bold;
    color: #38b5ed;
    text-align: center;
}

.o-text {
    font-weight: bold;
    text-align: center;
    color: #d9dae4;
}

.l-title {
    margin: 28px 0;
}