.wrap {
    box-sizing: border-box;
    width: 100%;
    min-width: 396px;
    max-width: 1080px;
    padding: 0 32px;
    margin: 0 auto;
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 136px;
        background: url("./assets/image/bg_3x.svg")  left bottom;
    }
}

.container {}